body {
 /* min-height: 1000px;*/
  padding-top: 70px;
}
/* Pagina de proiect */

.divBoxNewColor{
  background-color: #3498DB;
 color: white!important;
}
.divBoxNewColor:hover{
  background-color: #3498DB!important;
  opacity: 0.8;
}
.aNoDecoration:link{
 text-decoration: none;
}

/* div de afisare membrii pe un proiect */
.divTeamMemberBox{
  background-image: url("../images/defaultuser.png") ;
  background-size: 150px 150px; 
  display: inline-block;
  height: 160px;
  width: 150px;
  margin: 10px;
  padding-top: 135px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #E7E7E7;
  border-radius: 10px;
  overflow: hidden;
}
.divTeamMemberBox:hover{
  opacity: 0.8;
}
#divLoadExternalPage{
  display: inline-block;
}
.divIssuesBox{
  background-image: url("../images/defaultuser.png") ;
  background-size: 150px 150px; 
  display: inline-block;
  height: 160px;
  width: 150px;
  margin: 10px;
  padding-top: 135px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #E7E7E7;
  border-radius: 10px;
  overflow: hidden;
}
.redOne{
  background-color: red;
  outline-color: blue;
}

/* Right panel css */
.rightPanel{
  background-color: #E7E7E7;
  float: right;
  display: inline-block;
  position: relative;
  padding: 2px;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rightPanel .rightPanelField{
  background-color: white;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
}